.textBuy {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
    
}
.btn {
    padding: 20px;
    border: 1px solid salmon;
    background-color: aquamarine;
}
